<%- include header %> 


<!-- Content Begin --> 
<div class="content">
    <div class="container"> 
      
      <!-- Middle Content Start -->
      
      <div class="vd_content-wrapper">
        <div class="vd_container">
          <div class="vd_content clearfix">
            <div class="vd_content-section clearfix">
              <div class="vd_login-page">
                <div class="heading clearfix">
                  <div class="logo">
                    <h2 class="mgbt-xs-5"><img src="<%=url+'/assets/img/logo.png'%>" alt="logo"></h2>
                  </div>
                  <h3 class="text-center font-semibold vd_grey">LOCK SCREEN</h3>
                </div>
                <div class="panel widget">
                  <div class="panel-body">
                    <div class="login-icon no-bd"> 
                      <img class="img-circle" style="width:120px; height:120px; margin-top:-10px;" src="<%=url+'/images/placeholder.png'%>" alt="UserImage"> 
                    </div>
                      
                      <form action="/admin/unlock" method="POST" class="form-horizontal"   role="form">
             
                      <div class="alert alert-danger vd_hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
                    <div class="alert alert-success vd_hidden">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                      <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done!</strong>. </div>                  
                      <div class="form-group  mgbt-xs-20">
                        <div class="col-md-12">
                          <div class="label-wrapper">
                            <label class="control-label sr-only" for="password">Password</label>
                          </div>
                          <div class="vd_input-wrapper" id="password-input-wrapper" > <span class="menu-icon"> <i class="fa fa-lock"></i> </span>
                            <input type="password" placeholder="Password" id="password" name="password" class="required" required>
                          </div>
                        </div>
                      </div>
                      <div id="vd_login-error" class="alert alert-danger hidden"><i class="fa fa-exclamation-circle fa-fw"></i> Please fill the necessary field </div>
                      <div class="form-group">
                        <div class="col-md-12 text-center mgbt-xs-5">
                          <button class="btn vd_bg-green vd_white width-100" type="submit" id="login-submit"><i class="fa fa-unlock append-icon"></i>Unlock</button>
                        </div>                      
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Panel Widget -->
                <!-- <div class="register-panel text-center font-semibold"> <a href="pages-register.html">UNLOCK<span class="menu-icon"><i class="fa fa-angle-double-right fa-fw"></i></span></a> </div> -->
              
              </div>
              <!-- vd_login-page --> 
              
            </div>
            <!-- .vd_content-section --> 
            
          </div>
          <!-- .vd_content --> 
        </div>
        <!-- .vd_container --> 
      </div>
      <!-- .vd_content-wrapper --> 
      
      <!-- Middle Content End --> 
      
    </div>
    <!-- .container --> 
  </div>
  <!-- Content End -->
  

<%- include footer %>   
