<div class="content">
    <div class="container">
      <div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">
  
    <div class="navbar-menu clearfix">
          <div class="vd_panel-menu hidden-xs">
              <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4 >
                  <i class="fa fa-sort-amount-asc"></i>
              </span>                   
          </div>
        <h3 class="menu-title hide-nav-medium hide-nav-small">ADMIN PANEL</h3>
          <div class="vd_menu">
             <ul>
  
                <li>
        <a href="/dzire">
            <span class="menu-icon"><i class="fa fa-dashboard"></i></span> 
              <span class="menu-text">Dashboard</span>  
              
          </a> 
      </li> 
      <!-- <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-dashboard"></i></span> 
              <span class="menu-text">Dashboard</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                  <li>
                      <a href="index-2.html">
                          <span class="menu-text">Default Dashboard</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="index-ecommerce.html">
                          <span class="menu-text">E-Commerce Dashboard</span>  
                      </a>
                  </li> 
                  <li>
                      <a href="index-analytics.html">
                          <span class="menu-text">Analytics Dashboard</span>  
                      </a>
                  </li> 
                  <li>
                      <a href="index-blogging.html">
                          <span class="menu-text">Blogging Dashboard</span>  
                      </a>
                  </li>  
                  <li>
                      <a href="index-event-management.html">
                          <span class="menu-text">Event Management Dashboard</span>  
                          <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                      </a>
                  </li>                                                                                                  
              </ul>   
          </div>
      </li> -->  
  
      <!-- User -->
  
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-user"></i></span> 
              <span class="menu-text">USER</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                  <li>
                      <a href="user_add.php">
                          <span class="menu-text">ADD USER</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="user_view.php">
                          <span class="menu-text">VIEW USER</span>  
                      </a>
                  </li>                                                                
              </ul>   
          </div>
      </li>
  
      <!-- Product -->
  
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-list"></i></span> 
              <span class="menu-text">LISTING</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                  <li>
                      <a href="listing_add.php">
                          <span class="menu-text">ADD LISTING</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="listing_view.php">
                          <span class="menu-text">VIEW LISTING</span>  
                      </a>
                  </li>                                                                                                 
              </ul>   
          </div>
      </li>
  
      <!-- Order -->
  
      <!-- 
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-money"></i></span> 
              <span class="menu-text">ORDER</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                   <li>
                      <a href="/admin/add-user">
                          <span class="menu-text">ADD USER</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="/admin/view-order">
                          <span class="menu-text">VIEW ORDER</span>  
                      </a>
                  </li>                                                                                      
              </ul>   
          </div>
      </li>
       -->
  
  
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-shopping-cart"></i></span> 
              <span class="menu-text">CONTENT</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                  <li>
                      <a href="content_add.php">
                          <span class="menu-text">ADD CONTENT</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="content_view.php">
                          <span class="menu-text">VIEW CONTENT</span>  
                      </a>
                  </li>                                                                                                 
              </ul>   
          </div>
      </li>
  
  
  
      <!-- Review -->
  
  
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-comment"></i></span> 
              <span class="menu-text">REVIEW</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                  <li>
                      <a href="review_pending.php">
                          <span class="menu-text">PENDING REVIEW</span>  
                      </a>
                  </li>              
                  <li>
                      <a href="review_approved.php">
                          <span class="menu-text">APPROVED REVIEW</span>  
                      </a>
                  </li>  <li>
                      <a href="review_disapproved.php">
                          <span class="menu-text">DISAPPROVED REVIEW</span>  
                      </a>
                  </li>   
                                                                                                               
              </ul>   
          </div>
      </li>
  
  
      <!-- Category -->
  
      <li>
        <a href="javascript:void(0);" data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-plus-square"></i></span> 
              <span class="menu-text">CATEGORY</span>  
              <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
          </a>
        <div class="child-menu"  data-action="click-target">
              <ul>
                 <li>
                      <a href="category_add.php">
                          <span class="menu-text">ADD CATEGORY</span>  
                      </a>
                  </li>  
  
                   <li>
                      <a href="category_view.php">
                          <span class="menu-text">VIEW CATEGORY</span>  
                      </a>
                  </li>
                    <li>
                      <a href="subcategory_add.php">
                          <span class="menu-text">ADD SUB CATEGORY</span>  
                      </a>
                  </li>  
                   <li>
                      <a href="subcategory_view.php">
                          <span class="menu-text">VIEW SUB CATEGORY</span>  
                      </a>
                  </li>  
              </ul>   
          </div>
      </li>
  
    
                   
  </ul>
  <!-- Head menu search form ends -->         
  </div>             
      </div>
      <div class="navbar-spacing clearfix">
      </div>
      <div class="vd_menu vd_navbar-bottom-widget">
          <ul>
              <li>
                  <a href="login.php">
                      <span class="menu-icon"><i class="fa fa-sign-out"></i></span>          
                      <span class="menu-text">Logout</span>             
                  </a>
                  
              </li>
          </ul>
      </div>     
  </div>  
  